<div class="placeholder">

  <div class="user-placeholder">

    <div class="avatar"></div>

    <h1>Добро пожаловать, Джон Уик</h1>

    <span>Выберите чат, чтобы отправить сообщение</span>
  </div>

</div>
