<div class="footer">

    <div class="footer-icon">
        <div>
            {{>icon/icon name="settings-icon" width=16 height=16 }}
        </div>
        <span>Настройки</span>
    </div>


    <div class="footer-icon">
        <div>
            {{>icon/icon name="profile-icon" width=16 height=16 }}
        </div>
        <span>Профиль</span>
    </div>

    <div class="footer-icon active">
        <div>
            {{>icon/icon name="chat-icon" width=16 height=16 }}
        </div>
        <span>Диалоги</span>
    </div>

</div>