<div class="footer">

    <a href="/src/pages/settings/" class="footer-icon">
        <div>
            {{>icon/icon name="settings-icon" width=16 height=16 }}
        </div>
        <span>Настройки</span>
    </a>

    <a href="/src/pages/profile/" class="footer-icon">
        <div>
            {{>icon/icon name="profile-icon" width=16 height=16 }}
        </div>
        <span>Профиль</span>
    </a>

    <a href="/src/pages/app/" class="footer-icon active">
        <div>
            {{>icon/icon name="chat-icon" width=16 height=16 }}
        </div>
        <span>Диалоги</span>
    </a>

</div>