html,
body,
nav {
  height: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
h1 {
  margin: 0;
  font-size: 24px;
}
ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
li {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
  font-size: 20px;
}

a:hover {
  transition: 0.3s;
  color: #4c9562;
}
