{{#each buttons}}
  {{{Button
    href=this.text
    text="rt"

  }}}
{{/each}}

<div class={{className}}>
  {{{ Button
    href=this.text
    text="rt"
  }}}
</div>
<!--<a href="/src/pages/profile/index.html">Profile</a>-->
<!--<a href="/src/pages/editProfile/index.html">EditProfile</a>-->
<!--<a href="/src/pages/editPassword/index.html">EditPassword</a>-->
<!--<a href="/src/pages/login/index.html">Login</a>-->
<!--<a href="/src/pages/signup/index.html">Sign up</a>-->
<!--<a href="/src/pages/error/404/index.html">404 page</a>-->
<!--<a href="/src/pages/error/500/index.html">5** page</a>-->
