:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #ffffff;
  --primary: #4c9562;
  --primary_hover: #468d5c;
  --primary_active: #437a54;
  --primary_light: #def3e7;
  --border: #eaeaea;
  --ghost: #c4c4c4;
  --background_primary: #f7f7fa;
  --background_input: #efefef;
  --background: #f4f5f8;
  --text: #000000;
  --text_ghost: #999999;
  --error: #ef8079;

  --shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

  --transition: 0.2s;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background_primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background_primary: #2a2a2a;
    --background: #1e1e1e;
    --text: #ffffff;
    --text_ghost: #bbbbbb;
    --error: #ef8079;
  }
}
