<div class="messenger profile">

    <div class="profile-info">

        <div class="avatar">
            <div class="placeholder">
                {{>icon/icon name="img-icon" width=40 height=40  }}
            </div>
        </div>
        <span class="username">Джон Уик</span>

        <div class="profile-data editable">
            {{>input/input type="password" hint="Старый пароль" name="oldPassword" tabIndex="1" }}
            {{>input/input type="password" hint="Новый пароль" name="newPassword" tabIndex="2" }}
            {{>input/input type="password" hint="Повторите новый пароль" name="newPassword" tabIndex="3" }}
        </div>

        <div class="profile-actions">
            {{> button/button submit=true class="fluid" text="Сохранить"}}


        </div>
    </div>

</div>
