<div class="messenger">


    <div class="head">
        <span>тут будет шапка чата</span>
    </div>

    <div class="messenger-content">

        <div class="pls"> тут будет чат</div>
        <div class="pls"> тут будет чат</div>
        <div class="pls"> тут будет чат</div>
        <div class="pls"> тут будет чат</div>
        <div class="pls"> тут будет чат</div>
        <div class="pls"> тут будет чат</div>
        <div class="pls"> тут будет чат</div>

    </div>

    <form class="messenger-footer">
        <div class="messenger-input">
            <input type="text" name="message" autocomplete="off">
        </div>

        <label class="messenger-submit">
            <input type="submit">
            <span> > </span>
        </label>
    </form>

</div>