<div class="messenger profile">

    <div class="profile-info">

        <div class="avatar">
            <div class="placeholder">
                {{>icon/icon name="img-icon" width=40 height=40  }}
            </div>
        </div>

        <span class="username">Джон Уик</span>

        <div class="profile-data">
            <div class="profile-data__item">
                <span class="hint">Почта</span>
                <span class="value">pochta@yandex.ru</span>
            </div>
            <div class="profile-data__item">
                <span class="hint">логин</span>
                <span class="value">ivanivanov</span>
            </div>
            <div class="profile-data__item">
                <span class="hint">Имя</span>
                <span class="value">Джон</span>
            </div>
            <div class="profile-data__item">
                <span class="hint">Фамилия</span>
                <span class="value">Уик</span>
            </div>
            <div class="profile-data__item">
                <span class="hint">Имя в чате</span>
                <span class="value">Иван</span>
            </div>
            <div class="profile-data__item">
                <span class="hint">Телефон</span>
                <span class="value">+7 (999) 999 99-99</span>
            </div>
        </div>

        <div class="profile-actions">
            <a href="/src/pages/editProfile/" class="profile-action">Изменить данные</a>
            <a href="/src/pages/editPassword/" class="profile-action">Изменить пароль</a>
            <a href="#" class="profile-action logout">Выйти</a>

        </div>
    </div>

</div>
