.sidebar {
  width: 310px;
  border-right: 1px solid var(--border);

  .head {
    padding: 14px 10px;
  }

  &-list {
    height: calc(100% - 140px);
  }
}

.chat_list {
  overflow-y: auto;
  &-item {
    padding: 10px;
    height: 80px;
    border-bottom: 1px solid red;
    background-color: rgba(255, 0, 0, 0.26);
    display: flex;
    align-items: center;
  }
}