<div class="sidebar">
    <div class="head">
        {{>search/search}}
    </div>

    <div class="sidebar-list chat_list">
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
        <div class="chat_list-item">
            элемент списка диалогов
        </div>
    </div>

    {{>footer/footer}}


</div>