<div class="sidebar">
  <div class="head">
    {{{Search}}}
  </div>

  <div class="sidebar-list chat_list">
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
    <div class="chat_list-item">
      элемент списка диалогов
    </div>
  </div>

  {{{Footer}}}
</div>
