
  {{#Scroll className="padding center" }}

  {{#Auth title=this.title}}

    <div class="actions">
      {{{Button className="fluid" text=primaryBtnText onClick=this.events.submit}}}

      {{{Link className="light fluid" ref_name=secondaryBtnText onClick=this.events.cancel}}}
    </div>
  {{/Auth}}

  {{/Scroll}}

