{{#Scroll className=this.className }}
  <div class="error">
    {{{Title tag="h1" text="404" }}}
    {{{Title tag="h2" text="Страница не найдена" }}}
    {{{Link ref_name="Назад к чатам" class="light" onClick=this.onCancel}}}
  </div>

{{/Scroll}}
