.input {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;

  height: 38px;
  border-bottom: 1px solid var(--text_ghost);
  color: var(--text_ghost);
  cursor: text;

  .hint {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 0 5px;

    color: inherit;
    font-size: 16px;
    line-height: 32px;
    transition: var(--transition);


  }

  input {
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0 5px;

    width: 100%;
    height: 100%;
    font-size: 16px;

  }

  &.focused, &.filled {
    .hint {
      font-size: 14px;
      line-height: 14px;
      height: 14px;
      transition: var(--transition);
    }

    input {
      height: 24px;
    }
  }
}

.input_file {
  display: none;
}